:root {


    /*FONT*/
    --r-font: Roboto Condensed;
    --i-font: Inter;
    /* colors light */
    --l-purple: #130F1C;
    --l-mbg:#FAFAFA;
    --l-bg: #fff;

    /* colors dark */
    --d-gray: #BAB9BD;
    --d-mbg:#130F1C;
    --d-bg: #1F1B29;

    --d-input:#2E2A36;
}